@import url(https://fonts.bunny.net/css?family=roboto:400,500,700,900);
@import "./reset.css";

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #f5f7f9;
  overflow: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Roboto, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, \5fae\8f6f\96c5\9ed1, Arial,
    sans-serif;
}