@import "./reset.css";

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  --white-color: #fff;
  --text-color: rgb(51, 54, 57);
  --icon-color: rgba(0, 0, 0, .3);

  --bg-default-color: 255 255 255;

  --bg-body-color: rgb(245, 247, 249);
  --bg-sidebar-color: rgb(255, 255, 255);

  --border-color: rgb(226, 230, 233);
  --dash-width: 8px;
  --dash-height: 2px;
  --dash-offset: 29px;

  --scrollbar-bg-color: rgba(229, 230, 235, .7);
  --scrollbar-hover-bg-color: rgb(229, 230, 235);

  --menu-item-hover-bg-color: rgba(221, 224, 225, 0.5);
}

body[theme=dark] {
  --text-color: rgb(255, 255, 255);
  --icon-color: rgba(255, 255, 255, .7);

  --bg-default-color: 38 39 44;

  --bg-body-color: rgb(20, 22, 26);
  --bg-sidebar-color: rgb(29, 31, 37);

  --border-color: rgb(70, 71, 79);

  --scrollbar-bg-color: rgba(33, 33, 33, 0.7);
  --scrollbar-hover-bg-color: rgb(33, 33, 33, 0.8);

  --menu-item-hover-bg-color: rgba(59, 61, 68, 0.5);
}

body {
  background-color: #f5f7f9;
  overflow: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Inter', Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, \5fae\8f6f\96c5\9ed1, Arial,
    sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  width: 6px;
  border-radius: 2px;
  background-color: var(--scrollbar-bg-color);
}

::-webkit-scrollbar-thumb:hover {
  width: 6px;
  background-color: var(--scrollbar-hover-bg-color);
}

::-ms-scrollbar-thumb {
  width: 6px;
  border-radius: 6px;
  background-color: var(--scrollbar-bg-color);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root),
.dark::view-transition-new(root) {
  z-index: 1;
}

::view-transition-new(root),
.dark::view-transition-old(root) {
  z-index: 9999;
}